.hide {
  display: none;
}
body {
    margin: 0;
    padding: 0;
    background: url(fondo.jpg) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
  }
  
.box {
  width: 320px;
  height: 420px;
  color: #fff;
  top: 30%;
  left: 75%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
  
}
  

.box button[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #b80f22;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}
  
.box button[type="submit"]:hover {
  cursor: pointer;
  background: #ffc107;
  color: #000;
}
  
table, th, td {
  border: 1px solid black;
  background-color: white;
}

.tablabd{
  left: 20%;
  width: 600px;
}